:host > div {
	position: relative;
	float: left;
	width: calc(100% - 600px);
	height: 100%;
	border-right: 1px solid #303030;
}

:host > div > .head {
	height: 40px;
	padding: 5px;
	border-bottom: 1px solid #404040;
}

:host > div > .head .debug-item {
	display: inline-block;
	margin: 0 20px 20px 0;
}

ul {
	width: 100%;
	height: calc(100% - 40px);
	overflow: hidden;
}

li {
	width: 100%;
	padding: 5px;
	cursor: pointer;
	overflow: hidden;
}

li:not(.closing) {
	border-bottom: 1px solid #404040;
}

li:hover {
	background-color: #202020;
}

li.selected {
	background-color: #303030;
	cursor: default;
}

li .head {
	margin-bottom: 5px;
}

li .title {
	font-weight: bold;
}

li .rating {
	float: right;
}

li .rating > i {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #404040;
	border-radius: 100%;
	user-select: none;
}

li .rating > i.active {
	background-color: #ffffff;
	border-color: #ffffff;
}

li dl {
	display: grid;
	grid-template-columns: 124px 1fr;
}

li dt {
	margin: 0;
}

li dt:after {
	content: ":";
}

li dd {
	margin: 0;
}

li .interpret:not(:last-child):after, .genre:not(:last-child):after {
	content: ", ";
}

.loading-mask {
	position: absolute;;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.loading-mask app-loading-indicator {
	position: absolute;;
	left: 50%;
	top: 50%;
	width: 140px;
	height: 200px;
	transform: translate(-50%, -50%);
}
