<div>
	<div class="head">
		<span class="debug-item">
			<span>Page</span> <span>{{ (pageIndex + 1) }}</span>/<span>{{ pageCount }}</span>
		</span>
    <span class="debug-item">
      <app-text-input
        #searchTextInput
        placeholder="Search for Title"
        [value]="searchText"
        (input)="onSearchTextInputInput(searchTextInput.value)"
        (blur)="search()"
        (cleared)="search()"
        (keydown)="onSearchTextInputKeyDown($event)"
      ></app-text-input>
    </span>
    <span class="debug-item">
      <select [value]="sortCriterion" (change)="changeSortCriterion($event.target.value)">
        <option [value]="TrackSortCriterion.Rating">Rating</option>
        <option [value]="TrackSortCriterion.Title">Title</option>
        <option [value]="TrackSortCriterion.Interpret">Interpret</option>
      </select>
    </span>
    <span class="debug-item">
      <select [value]="sortDirection" (change)="changeSortDirection($event.target.value)">
        <option [value]="TrackSortDirection.Asc">ASC</option>
        <option [value]="TrackSortDirection.Desc">DESC</option>
      </select>
    </span>
    <span class="debug-item">
      <button class="text-button decent" (click)="reload()">reload</button>
    </span>
	</div>
	<ul [id]="listElementId" class="body clearfix">
		<li
			*ngFor="let track of tracks; let i = index"
			[ngClass]="{ 'selected': track && selectedTrack.id === track.id, 'closing': i === pageSize - 1 }"
			[ngStyle]="{ 'height': (100 / pageSize).toFixed(2) + '%' }"
			(click)="select(track)"
		>
			<div class="head">
				<span class="title">{{ track.title }}</span>
				<span class="rating">
				<i [ngClass]="{ 'active': track.rating >= 5 }"></i>
				<i [ngClass]="{ 'active': track.rating >= 4 }"></i>
				<i [ngClass]="{ 'active': track.rating >= 3 }"></i>
				<i [ngClass]="{ 'active': track.rating >= 2 }"></i>
				<i [ngClass]="{ 'active': track.rating >= 1 }"></i>
			</span>
			</div>
			<dl>
				<dt>Interpret</dt>
				<dd>
					<span *ngFor="let interpret of track.interprets;" class="interpret">{{ interpret.name }}</span>
				</dd>
				<dt>Genre</dt>
				<dd>
					<span *ngFor="let genre of track.genres;" class="genre">{{ genre.name }}</span>
				</dd>
			</dl>
		</li>
    <app-loading-mask *ngIf="loading">
      <app-loading-indicator></app-loading-indicator>
    </app-loading-mask>
	</ul>
</div>
